.headerBtnLink{
    color: white;
    border-color: white;
    text-decoration: none;
}

.userMenuLinks{
    color: black;
    text-decoration: none;
}

.headerTitle{
    color: white;
    text-decoration: none;
    flex-grow: 1;
    user-select: none;
}